 
@font-face { font-family: Myriad Pro Condensed; 
    src: url('../font/Myriad Pro Condensed.ttf');
 } 



.seperator{
    margin-top: 50px;
    margin-bottom :50px;
}

hr{
    border-top: 2px dashed #ced4da;
    
}


